*.lock
.DS_Store
.idea
.vscode
config.php
package-lock.json
*.db

node_modules

/backend/vendor/
/public/
!/public/kuura/assets/
!/public/kuura/vendor/
/internal/
!*/**/Internal
/backend/plugins/*
/backend/site/
/backend/translations/
