*.lock
.DS_Store
.idea
.vscode
config.php
config.in.php
package-lock.json
*.db

node_modules

/backend/vendor/
/backend/plugins/*
/backend/site/
/backend/translations/
/docs/
/internal/
!*/**/Internal
/public/*.*
/public/uploads
/public/sivujetti/*.js
/public/tests/bundled-main.js
/sdk/
