@charset "utf-8";

@layer body-unit {

figure {
    margin: 0;
}
img {
    max-width: 100%;
    object-fit: cover;
}



.j-Columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: .4rem;
}
.j-Columns.inline { display: inline-grid; }
.j-Columns.inline > * { display: inherit; }
.j-Columns.align-vertical { align-items: center; }
.num-cols-1 { grid-template-columns: minmax(0, 1fr); }
.num-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
.num-cols-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
.num-cols-5 { grid-template-columns: repeat(5, minmax(0, 1fr)); }
.num-cols-6 { grid-template-columns: repeat(6, minmax(0, 1fr)); }
.num-cols-7 { grid-template-columns: repeat(7, minmax(0, 1fr)); }
.num-cols-8 { grid-template-columns: repeat(8, minmax(0, 1fr)); }
.num-cols-9 { grid-template-columns: repeat(9, minmax(0, 1fr)); }
.num-cols-10 { grid-template-columns: repeat(10, minmax(0, 1fr)); }
.num-cols-11 { grid-template-columns: repeat(11, minmax(0, 1fr)); }
.num-cols-12 { grid-template-columns: repeat(12, minmax(0, 1fr)); }


.j-Menu ul {
    list-style: none;
    margin: 0;
}
.j-Menu li {
    margin: 0;
}

}
