@charset "utf-8";

@layer theme, base-styles, dev-styles, user-styles;

@import url("vendor.min.css?v=2") layer(theme);

@layer theme {
html {
  text-rendering: optimizeLegibility;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
  object-fit: cover;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--jet-headings-color, #1d1d1d);
}

.ql-align-center { text-align: center; }
.ql-align-right { text-align: right; }
.ql-align-justify { text-align: justify; }

.ql-size-small { font-size: 0.8em; }
.ql-size-large { font-size: 1.2em; }
.ql-size-huge { font-size: 1.4em; }

li.ql-indent-1 {
  margin-left: 1.8rem;
  list-style-type: circle;
}
li.ql-indent-2 {
  margin-left: 3.2rem;
  list-style-type: square;
}
li.ql-indent-3 {
  margin-left: 4.4rem;
  list-style-type: square;
}

.j-Text > :last-child,
.j-Text:last-child > :last-child {
  margin-bottom: 0;
}

.j-Image {
  flex-wrap: wrap;
  row-gap: .4rem;
}

.j-Columns {
  display: grid;
  gap: 1rem .4rem;
}

.j-Listing {
  display: grid;
  row-gap: 6rem;
}

.j-Menu ul {
  list-style-type: none;
  display: grid;
  gap: .4rem 1.2rem;
  margin: 0;
}
.j-Menu ul li {
  margin: 0;
}
.j-Menu ul li a:visited {
  color: var(--spectre-link-color);
}
.j-Menu ul ul {
  margin-left: 1rem;
  margin-top: .4rem;
}

.j-JetIconsIcon {
  display: inline-flex;
}
.j-JetIconsIcon .icon {
  color: currentColor;
  width: 24px;
  height: 24px;
  stroke-width: 2px;
}

.j-JetFormsContactForm.sent-and-processed .sent-message {
  font-weight: bold;
  margin-bottom: 1rem;
}
.j-JetFormsContactForm [class^="j-JetForms"] {
  margin-bottom: 0.4rem;
}
.pristine-error {
  margin-top: 0;
}
}
