@charset "utf-8";

/*
Structure:
- Global: Defaults
- EditApp: Defaults
- EditApp: Components
- EditApp: *
- EditAppViews: *
- Global: Utilies
*/
:root {
    --components-color-bg-default: 255, 255, 255;
    --color-bg-default: rgb(var(--components-color-bg-default));
    --color-bg-dimmed: rgb(250, 252, 255);
    --color-bg-dimmed2: rgb(235, 237, 243);
    --components-color-accent: 165, 82%, 51%;
    --components-color-accent2: 165, 80%, 49%;
    --components-color-purple: 262, 53%, 47%;
    --color-accent: hsl(var(--components-color-accent));
    --color-accent2: hsl(var(--components-color-accent2));
    --color-accent3: rgb(65,255,209);
    --color-accent4: rgba(118,255,255,.33);
    --components-color-fb-default: 0, 10, 71;
    --color-fg-default: rgb(var(--components-color-fb-default));
    --color-fg-dimmed: rgba(var(--components-color-fb-default),.75);
    --color-fg-dimmed2: #1c125a;
    --color-fg-input: var(--color-fg-default);
    --color-fg-code: var(--color-fg-dimmed);
    --color-section-separator: rgba(var(--components-color-fb-default),.08);
    --border-tree-guide: 1px dotted rgba(var(--components-color-fb-default),.4);
    --border-dashed-box: 1px dashed rgba(var(--components-color-fb-default),.3);
    --color-input-border: #e1e4e8;
    --color-blue: #2196f3;
    --color-orange: #ff5722;
    --color-purple: hsl(var(--components-color-purple));
    --color-pink: #e91e63;
    --color-bg-button: rgb(244, 244, 247);
    --color-bg-button-hover: rgb(236, 236, 239);

    --color-icon-normal-block: var(--color-accent2);
    --color-bg-selected-normal-block: hsla(var(--components-color-accent2), .14);

    --color-icon-meta-block: var(--color-purple);
    --color-bg-selected-meta-block: hsla(var(--components-color-purple), .1);

    --color-icon-global-block: #eb732a;
    --color-bg-selected-global-block: #efe5e1; /* rgba(--color-orange, ~.06) */
    --color-drop-indicator: rgba(var(--components-color-fb-default), .32);

    --color-bg-default: #fff;
    --color-border-popup: rgba(var(--components-color-fb-default),.5);

    --small-rect-radius: 4px;

    --leftPanelWidth: 318px;
    --contentSpawnerWidth: 210px;
}
/* Spectre-overrides */
.btn {
    background: var(--color-bg-button);
    border-color: var(--color-bg-button);
    color: var(--color-fg-default);
    font-size: .7rem;
    font-weight: 400;
    padding: .25rem .6rem;
    border-radius: var(--small-rect-radius);
}
.btn:hover {
    background: var(--color-bg-button-hover);
    border-color: var(--color-bg-button-hover);
    color: var(--color-fg-default);
}
.btn:focus {
    background: rgb(244, 244, 247);
    border-color: var(--color-fg-default);
    box-shadow: none;
    outline: none;
}
.btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #00062e;
    border-color: #00041e;
    color: #fff;
}
.btn.btn-primary:focus {
    box-shadow: 0 0 0 0.1rem rgb(112, 218, 189);
}
.btn.btn-sm {
    font-size: .65rem;
}
.btn.no-color {
    background-color: transparent !important;
    border-color: transparent !important;
}
.form-input, .form-select {
    border: 1px solid var(--color-input-border);
    border-radius: var(--small-rect-radius);
    font-weight: 300;
    font-size: .7rem;
    color: var(--color-fg-input);
}
.form-group > .form-input-hint {
    margin-bottom: -.2rem;
}
.menu .menu-item > a:focus, .menu .menu-item > a:hover {
    background: rgba(129, 134, 165, .15);
}
.menu .menu-item > a.active, .menu .menu-item > a:active {
    background: rgba(129, 134, 165, .15);
}
.text-tiny {
    font-size: .6rem !important;
}
.form-horizontal .form-group {
    margin-top: .8rem;
}
.form-horizontal .form-label {
    padding-top: 0;
}
.form-horizontal:not(#view .form-horizontal) .form-group {
    margin: .6rem 0;
}
.form-horizontal:not(#view .form-horizontal) .form-label {
    padding: .2rem 0;
    color: var(--color-fg-dimmed2);
}
.form-horizontal:not(#view .form-horizontal) .form-input:not(textarea),
.form-horizontal:not(#view .form-horizontal) .input-group .input-group-addon {
    padding: .1rem .35rem;
    height: 1.6rem;
}
.form-horizontal:not(#view .form-horizontal) .input-group .input-group-addon {
    padding: .1rem .2rem;
}
.form-horizontal:not(#view .form-horizontal) .form-group > .col-9 {
    width: calc(75% - .2rem);
    margin-left: auto;
}



/* == Global: Defaults ====================================================== */
@font-face {
    font-family: "Fira Sans";
    src: url("assets/fira-sans-light.woff2") format("woff2");
    font-weight: 300; /* light */
    font-style: normal;
}
@font-face {
    font-family: "Fira Sans";
    src: url("assets/fira-sans-regular.woff2") format("woff2");
    font-weight: 400; /* normal */
    font-style: normal;
}
@font-face {
    font-family: "Fira Sans";
    src: url("assets/fira-sans-heavy.woff2") format("woff2");
    font-weight: 800; /* heavy / extra-bold */
    font-style: normal;
}
html, body {
    height: 100%;
}
body {
    font: 300 .7rem/.9rem "Fira Sans";
}
h2 {
    font: 800 1.4rem/1.4rem "Fira Sans";
}



/* == EditApp: Defaults ===================================================== */
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: .4rem;
}
.ql-editor h1 { font-size: 1.3rem; }
.ql-editor h2 { font-size: 1.2rem; }
.ql-editor h3 { font-size: 1.1rem; }
.ql-editor h4 { font-size: 1rem; }
.ql-editor h5 { font-size: .9rem; }
.ql-editor h6 { font-size: .8rem; }
.ql-editor ol,
.ql-editor ul {
    padding-left: 0;
}
.ql-editor p,
.ql-editor ol,
.ql-editor ul {
    margin-bottom: .8rem;
}
.ql-editor p:last-child,
.ql-editor ol:last-child,
.ql-editor ul:last-child {
    margin-bottom: 0;
}
.ql-toolbar.ql-snow {
    border: none;
    padding: .1rem;
    background-color: var(--color-bg-button);
}
.ql-container.ql-snow {
    border: 1px solid var(--color-input-border);
    border-radius: var(--small-rect-radius);
}
.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
    padding: .2rem;
    width: 1.2rem;
    height: 1.2rem;
}
.ql-snow .ql-editor {
    color: var(--color-fg-input);
    padding: .4rem;
    font: 300 .7rem/.9rem "Fira Sans";
}
.ql-snow .ql-tooltip {
    min-width: 146px;
    max-width: 200px;
    padding: .4rem .5rem;
    z-index: 1;
}
.ql-snow .ql-tooltip a.btn {
    color: var(--color-fg-default);
}
.ql-snow .ql-tooltip:before,
.ql-snow .ql-tooltip a.ql-remove:before,
.ql-snow .ql-tooltip a.ql-action:after {
    content: initial;
}
.ql-snow.ql-toolbar .ql-picker.ql-header {
    width: 92px;
}
.ql-snow .ql-picker.ql-header .ql-picker-item:before,
.ql-snow .ql-picker.ql-header .ql-picker-label:before {
    content: attr(data-p-translated);
    overflow: hidden;
    max-width: 66px;
    text-overflow: ellipsis;
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]:before { content: attr(data-h1-translated); }
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]:before { content: attr(data-h2-translated); }
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]:before { content: attr(data-h3-translated); }
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]:before { content: attr(data-h4-translated); }
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="5"]:before { content: attr(data-h5-translated); }
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="6"]:before { content: attr(data-h6-translated); }
.ql-snow .ql-picker.ql-header .ql-picker-item[data-label-translated]:before {
    content: attr(data-label-translated);
}
.ql-snow.ql-toolbar .ql-id-anchor-picker {
    font-size: 13px;
}
.ql-snow.ql-toolbar button.ql-id-anchor:after {
    color: currentColor;
    content: "#";
    font-size: 16px;
    position: relative;
    top: -2px;
}
.jsPanel.animating {
    transition: height cubic-bezier(0.73, -0.32, 0.58, 1) .325s;
}
.jsPanel .jsPanel-content {
    padding: 0 1rem 1rem 1rem;
}
.jsPanel-headerbar {
    padding: 1rem;
}
.jsPanel-titlebar .jsPanel-title {
    font: 800 1.4rem/1.4rem "Fira Sans"
}
@keyframes adjust-main-panel {
    to {
        height: 70%;
    }
}
@keyframes adjust-inspector-panel {
    to {
        height: 30%;
    }
}
#main-panel,
#inspector-panel {
    position: absolute;
    width: var(--leftPanelWidth);
    color: var(--color-fg-default);
    border-right: 1px solid var(--color-bg-dimmed2);
    transition: opacity .1s linear;
    overflow-y: auto;
}
#main-panel {
    height: 100%;
    background-color: var(--color-bg-default);
}
#inspector-panel {
    bottom: 0;
    height: 0;
    opacity: 0;
    background: transparent;
    box-shadow: -5px 0 8px 0px rgba(var(--components-color-fb-default),.16);
    border-top: 1px solid rgba(var(--components-color-fb-default),.14);
    z-index: -1;
}
#inspector-panel:before {
    content: "";
    background: var(--color-bg-default);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
#inspector-panel > div {
    background-color: var(--color-bg-default);
    padding: .4rem;
    position: relative;
}
.inspector-panel-open #main-panel,
.inspector-panel-open #inspector-panel {
    opacity: 1;
}
.inspector-panel-open #main-panel {
    height: initial;
}
.inspector-panel-open #inspector-panel {
    z-index: 1;
}
#site-preview-iframe {
    position: absolute;
    height: 100%;
    width: calc(100% - var(--leftPanelWidth));
    border: none;
    transform: translateX(var(--leftPanelWidth));
    height: 100%;
}
.resize-panel-handle {
    position: fixed;
    z-index: 1;
    left: 0;
}
#main-panel .resize-panel-handle {
    height: 100%;
    width: 8px;
    top: 0;
    cursor: col-resize;
}
/* Increase width to prevent #site-preview-iframe from disrupting the mouse drag events */
#main-panel .resize-panel-handle.dragging {
    width: 120px;
    margin-left: -60px;
}
#inspector-panel .resize-panel-handle {
    width: var(--leftPanelWidth);
    height: 8px;
    bottom: 0;
    cursor: row-resize;
}
.panels-hidden #main-panel .resize-panel-handle {
    display: none;
}
.panels-hidden #main-panel {
    width: 0 !important;
    z-index: 1;
}
.panels-hidden .new-block-spawner,
.panels-hidden #inspector-panel {
    display: none;
}
.panels-hidden #site-preview-iframe {
    width: 100% !important;
    transform: initial !important;
}

.has-icon-right .form-input {
    padding-right: 1.6rem;
}
.has-icon-right .sivujetti-form-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .2rem .4rem;
}

#toaster-editAppMain {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 101;
    cursor: pointer;
    line-height: 1rem;
    background: transparent;
    max-width: 400px;
}
#toaster-editAppMain > div {
    margin-bottom: .6rem;
    display: inline-block;
}
#toaster-editAppMain > div:last-child {
    margin-bottom: 0;
}


/* == EditApp: Components ============================================== */
/* EditApp: Components: Info boxes & toaster messages */
p.info-box, .toaster-message {
    padding: 1.2rem;
    border-left: 2px solid rgb(177,177,179);
    background-color: rgba(177,177,177,0.078);
}
p.info-box.error, .toaster-message.error {
    border-color: rgb(254,90,120);
    background-color: rgba(254,90,120,0.031);
}
p.info-box.success, .toaster-message.success {
    border-color: rgb(47,200,139);
    background-color: rgba(47,200,139,0.06);
}
p.info-box, .toaster-message {
    border-left: 2px solid rgb(147, 188, 243);
    background-color: rgba(147, 188, 243, 0.07);
}
.toaster-message {
    display: grid;
    grid-template-columns: 2.2rem auto;
    align-items: center;
}
/* EditApp: Components: popup-menu */
ul.popup-menu.menu {
    position: fixed;
    z-index: 2;
}
a.popup-close-area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
@keyframes reveal-anim {
    from { }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-to-left-anim {
    from { }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes fade-to-right-anim {
    from { }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
.anim-outer {
    overflow: hidden;
}
.reveal-from-right,
.reveal-from-left {
    animation: .125s reveal-anim;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
}
.fade-to-left,
.fade-to-right {
    transform: translateX(0px);
    opacity: 1;
}
.reveal-from-right {
    transform: translateX(100%);
}
.fade-to-left {
    animation: .125s fade-to-left-anim;
    animation-fill-mode: forwards;
}
.reveal-from-left {
    transform: translateX(-100%);
}
.fade-to-right {
    animation: .125s fade-to-right-anim;
    animation-fill-mode: forwards;
    position: relative;
}
/* EditApp: Components: grids */
.item-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: .4rem;
}
.item-grid.three {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.image-grid button, .image-grid img {
    border-radius: 2px;
}
.selectable-items.has-first-item-selected > li:first-of-type .btn,
.selectable-items.has-first-item-selected > .btn:first-of-type {
    background-color: var(--color-bg-dimmed2) !important;
}
.item-grid.large-buttons > button,
.item-grid.medium-buttons > button {
    justify-content: center;
    flex-wrap: wrap;
    height: 4.6rem;
    color: var(--color-fg-default);
    padding: 1rem .6rem;
}
.item-grid.large-buttons > button .icon-tabler,
.item-grid.medium-buttons > button .icon-tabler {
    width: 1.4rem;
    height: 1.4rem;
    flex: 0 0 100%;
    color: var(--color-fg-dimmed);
    margin: 0 0 .4rem 0;
}
.item-grid.medium-buttons {
    row-gap: .6rem;
}
.item-grid.medium-buttons > button {
    padding: .4rem .4rem 0;
    height: 3.6rem;
}
.item-grid.medium-buttons > button .icon-tabler {
    margin: 0;
}
.image-grid .caption {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: .34rem;
}
.image-grid > button {
    background-color: var(--color-bg-default);
    padding: 0 0 2rem;
    height: initial;
    position: relative;
}
.live-files-list.item-grid article > div {
    margin: 1rem;
}
.live-files-list.item-grid article {
    box-shadow: none;
    padding: 0;
}
.live-files-list.item-grid article > .btn {
    width: 100%;
    border-radius: 0;
}
.live-files-list.item-grid article .icon-tabler {
    width: 1.8rem;
    height: 1.8rem;
    opacity: .6;
}
.live-files-list.item-grid article.loading {
    color: #3b4351 !important;
}
.live-files-list.item-grid article.loading:before {
    content: "";
    position: absolute;
    background: rgba(var(--components-color-bg-default), .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.live-files-list.item-grid article.loading:after {
    margin-top: -1.2rem;
}
.image-selected img {
    min-width: 160px;
    min-height: 160px;
    max-width: 320px;
    max-height: 320px;
}
.image-picker-dialog .image-selected .form-buttons {
    border-bottom: 1px solid #d5dbe0;
    padding-bottom: 1rem;
}
.file-input-outer > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.file-input-outer > label {
    cursor: pointer;
    padding: .2rem;
    margin-top: 2px;
}
/* EditApp: Components: tooltips */
.my-tooltip  {
    display: none;
    font-size: .7rem;
    padding: .2rem .6rem;
    background-color: var(--color-bg-default);
    border-radius: var(--small-rect-radius);
    border: 1px solid var(--color-border-popup);
    z-index: 1;
}
.my-tooltip.dark  {
    background-color: #333;
    color: #fff;
    border-color: transparent;
}
.my-tooltip.visible {
    display: block;
}
.popper-arrow,
.popper-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: var(--color-bg-default);
    border-top: 1px solid var(--color-border-popup);
    border-left: 1px solid var(--color-border-popup);
}
.dark .popper-arrow,
.dark .popper-arrow::before {
    background: #333;
    border-top-color: transparent;
    border-left: transparent;
}
.popper-arrow {
    visibility: hidden;
}
.popper-arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}
.my-tooltip[data-popper-placement^='top'] > .popper-arrow {
    bottom: -3px;
}
.my-tooltip[data-popper-placement^='bottom'] > .popper-arrow {
    top: -5px;
}
.my-tooltip[data-popper-placement^='left'] > .popper-arrow {
    right: -4px;
}
.my-tooltip[data-popper-placement^='right'] > .popper-arrow {
    left: -4px;
}
/* EditApp: Components: styles-list */
ul.styles-list > li {
    background: rgba(var(--components-color-fb-default),.022);
    border-radius: var(--small-rect-radius);
}
ul.styles-list > li > div {
    display: none;
}
ul.styles-list > li.open > header > .btn > .icon-tabler {
    transition: transform .175s;
}
ul.styles-list > li.open > div {
    display: block;
}
ul.styles-list > li.open > header > .btn > .icon-tabler:first-child {
    transform: rotate(180deg);
}
ul.styles-list > li > header > .btn > span.edit-icon-outer {
    opacity: 0;
    transition: opacity .125s ease-out;
}
ul.styles-list > li > header > .btn > span:hover + div + span.edit-icon-outer,
ul.styles-list > li > header > .btn > span.edit-icon-outer:hover {
    opacity: 1;
}
/* EditApp: Components: visual-style-inputs */
.has-color-pickers .pcr-button {
    border: 1px solid rgba(var(--components-color-bg-default), .24);
}
.has-color-pickers .is-very-light-color .pcr-button {
    border-color: rgba(var(--components-color-fb-default),.12);
}
.has-color-pickers > .form-group {
    display: grid;
    grid-template-columns: 92px auto;
    flex-wrap: unset;
    align-items: center;
    justify-content: flex-start;
    grid-gap: .4rem;
}
.has-color-pickers > .form-group:first-child {
    margin-top: .2rem;
}
.has-color-pickers > .form-group > * {
    width: unset !important;
}
.has-color-pickers > .form-group > :last-child {
    max-width: 80px;
}
/* EditApp: Components: Big radios */
.button-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.4rem;
}
.button-options label {
    border-radius: 9px;
    border: 2px solid transparent;
    padding-top: .8rem;
}
.button-options label.selected {
    border: 2px solid var(--color-accent);
}
.button-options label .form-icon {
    left: initial;
    right: 1rem;
    top: .8rem;
}
.button-options label .h4 {
    font: 800 1rem/1rem "Fira Sans";
}


/* == EditApp: * ============================================================ */
/* EditApp: Main panel */
#main-panel > div {
    display: block;
    padding: 0 .4rem;
}
#main-panel header {
    margin: .4rem 0 0 0;
}
#main-panel .mode-chooser a {
    text-decoration: none;
}
#main-panel .mode-chooser a img {
    width: 24px;
    filter: contrast(0.8);
}
#main-panel .mode-chooser span {
    font-size: .65rem;
}
#main-panel .mode-chooser > span {
    line-height: .65rem;
}
#main-panel .mode-chooser span > select {
    opacity: 0.4;
    font-size: .6rem;
    width: auto;
    padding: 0;
    height: 1rem;
    line-height: .6rem;
    border: none;
    cursor: pointer;
}
#main-panel .mode-chooser + .btn {
    margin-top: .1rem;
    margin-right: -.2rem;
}
#main-panel .mode-chooser + .stickied {
    position: fixed;
    left: calc(var(--leftPanelWidth) - 96px); /* --leftPanelWidth - 96 (stickied-with); */
    margin: initial;
    background-color: rgba(var(--components-color-bg-default),.9);
    z-index: 2;
    top: .2rem;
}
.panel-section {
    padding: .8rem 0 .4rem .4rem;
}
.new-block-spawner-opened .panel-section {
    margin-left: calc(var(--contentSpawnerWidth) + .64rem);
    position: relative;
}
.panel-section:not(:last-of-type) {
    border-bottom: 1px solid var(--color-section-separator);
}
.panel-section.open:not(:last-of-type) {
    padding-bottom: 1rem;
}
.panel-section h1 {
    font-weight: 800;
    font-size: 1rem;
}
.panel-section > div,
.panel-section > nav {
    display: none;
}
.panel-section.open > div,
.panel-section.open > nav {
    display: block;
}
.panel-section > button {
    font-size: .75rem;
    font-weight: 300;
    padding: .2rem 0 1rem 0;
    border: none;
    background: transparent;
}

.panel-section.open > button > .icon-tabler:last-of-type {
    transition: transform linear .1s;
    transform: rotate(90deg);
}
.panel-section > nav a {
    margin: .8rem 0;
    color: var(--color-fg-default);
}

.section-title > .icon-tabler {
    left: .7rem;
}
.new-block-spawner-opened .panel-section .section-title > .icon-tabler:first-child {
    left: .5rem;
}
.section-title > span {
    position: relative;
    margin: 0 .85rem 0 1.3rem;
    text-align: left;
}
.section-title > span > span.text-tiny.text-ellipsis {
    position: absolute;
    left: .2rem;
    top: .8rem;
    opacity: .6;
}

.section-title > .icon-tabler:last-child {
    right: .8rem;
    left: initial;
}


/* EditApp: Main panel > Back to edit app label */
#back-to-edit-corner {
    top: -110px;
    left: -110px;
    position: fixed;
    border-right: 1px solid #0000001f;
    transform: rotate(45deg);
    width: 140px;
    box-shadow: rgba(50,50,93,.25) 0 13px 27px -5px, rgba(0,0,0,.3) 0 8px 16px -8px, rgba(0,0,0,.2) 0 -6px 16px -6px;
    background-color: var(--color-accent);
    height: 140px;
}
#back-to-edit-corner:hover {
    top: -71px;
    left: -70px;
}
#back-to-edit-corner img {
    display: none;
    width: 26px;
    transform: rotate(-45deg);
    position: absolute;
    right: 15px;
    bottom: 55px;
}
#back-to-edit-corner svg {
    display: none;
    position: absolute;
    transform: rotate(-45deg);
    bottom: 56px;
    right: 5px;
    color: #fff;
}
#back-to-edit-corner:hover img,
#back-to-edit-corner:hover svg {
    display: initial;
}


/* EditApp: Main panel > Block tree */
/* block-tree base */
.block-tree {
    margin: 0;
}
.block-tree li {
    margin: 3px 0;
    list-style: none;
    position: relative;
    padding: .2rem .2rem .2rem .45rem;
}
.block-tree li[data-has-children="true"] {
    padding: .2rem;
}
.block-tree li[data-depth="2"] {
    margin-left: .6rem;
}
.block-tree li[data-depth="3"] {
    margin-left: 1.2rem;
}
.block-tree li[data-depth="4"] {
    margin-left: 1.8rem;
}
.block-tree li[data-depth="5"] {
    margin-left: 2.4rem;
}
.block-tree li[data-depth="6"] {
    margin-left: 3rem;
}
.block-tree li[data-depth="7"] {
    margin-left: 3.6rem;
}
.block-tree li[data-depth="8"] {
    margin-left: 4.2rem;
}
.block-tree button {
    border: none;
    background: transparent;
    padding: 0;
    font-weight: 300;
}
.block-tree .block-handle[disabled] {
    opacity: .5;
    cursor: not-allowed;
}
.block-tree .toggle {
    padding: .1rem .2rem 0 .2rem;
    cursor: pointer;
    margin-left: -.2rem;
    background: transparent;
}
.block-tree .toggle .icon-tabler {
    transition: transform linear .1s;
}
.block-tree .more-toggle {
    opacity: 0;
    transition: opacity .125s ease-out;
    margin-bottom: -2px;
}
.block-tree .block-handle:hover + .more-toggle,
.block-tree .block-handle:focus + .more-toggle,
.block-tree .more-toggle:hover,
.block-tree .more-toggle:focus,
.block-tree .more-toggle.opened {
    opacity: 1;
}

/* block-tree theming */
.block-tree li {
    border-left: 1px dotted #b4b4b4;
}
.block-tree li.selected {
    background: var(--color-bg-selected-normal-block);
}
.block-tree li.globalBlockTree-block.selected {
    background: var(--color-bg-selected-global-block);
}
.block-tree li[data-block-type="PageInfo"].selected {
    background: var(--color-bg-selected-meta-block);
}
.block-tree > li[data-last] {
    position: absolute;
    width: calc(100% - 1rem);
    padding: 0;
    margin: -2px 0 0 0;
    border-left-color: transparent;
    height: 8px;
    overflow: hidden;
}
.block-tree li[data-last].maybe-drop-before:before {
    top: 0;
}
.block-tree li[data-first-child="true"][data-last-child="true"]:not([class*="maybe-"]) > div:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: -1px;
    background-color: #fff;
    top: 50%;
    margin-top: 2px;
}
.block-tree li[data-last-child="true"]:not([class*="maybe-"]):not([data-has-children="true"]) > div:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 50%;
    left: -1px;
    background-color: #fff;
    top: 50%;
    margin-top: 1px;
}
.block-tree li[data-depth="1"] {
    border-color: transparent;
    padding-left: .2rem;
}
.block-tree li[data-block-type="PageInfo"] button {
    color: var(--color-purple);
}
.block-tree li.globalBlockTree-block button {
    color: #bc5e25;
}
.block-tree .block-handle .icon-tabler {
    color: var(--color-icon-normal-block);
}
.block-tree li[data-block-type="PageInfo"] .block-handle .icon-tabler {
    color: var(--color-icon-meta-block);
}
.block-tree li.globalBlockTree-block .block-handle .icon-tabler {
    color: var(--color-icon-global-block);
}
.block-tree li > div > button span {
    margin-left: 1.2rem;
}

/* block-tre li states */
.block-tree li.dragging {
    opacity: .4;
}
.block-tree li.maybe-drop-before:before,
.block-tree li.maybe-drop-after:after,
.block-tree li.maybe-drop-as-child:before {
    content: "";
    position: absolute;
    left: -1px;
    height: calc(100% + 4px);
    width: calc(100% + 1px);
    top: -2px;
    border: 1px solid transparent;
}
.block-tree li.maybe-drop-before:before {
    border-top-color: #aaa;
}
.block-tree li.maybe-drop-after:after {
    border-bottom-color: #aaa;
}
.block-tree li.maybe-drop-as-child:before {
    border-color: #aaa;
}
/* block-tre li states inner */
.block-tree li[data-has-children="true"] > div {
    margin-left: 1.0rem;
}
.block-tree li.collapsed > .toggle .icon-tabler {
    transform: rotate(-90deg);
}

/* EditApp: Main panel > Block spawner */
.new-block-spawner {
    position: fixed;
    left: -2px;
    width: var(--contentSpawnerWidth);
    max-width: 4px;
    z-index: 2;
}
.new-block-spawner-opened .new-block-spawner {
    border-right: 1px solid rgba(var(--components-color-fb-default),.06);
    height: 100%;
    left: .6rem;
    max-width: var(--contentSpawnerWidth);
    border: 1px solid rgba(var(--components-color-fb-default),.16);
    z-index: 1;
    padding-right: .2rem;
    box-shadow: 1px 1px 12px 0px rgba(var(--components-color-fb-default),.12);
    border-radius: 15px;
    padding-top: 2rem;
}
.new-block-spawner > input {
    position: absolute;
    top: .4rem;
    left: .4rem;
    border-radius: 7px; /* calc(15px - .4rem) */
    width: calc(100% - .8rem)
}
.scroller {
    height: calc(100% - .2rem);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.new-block-spawner .block-tree {
    opacity: .9;
    margin-right: .4rem;
}
.new-block-spawner .block-tree li {
    padding: .28rem .28rem .28rem .4rem;
    border-left: none;
}
.new-block-spawner .block-tree li:first-child {
    margin-top: 0;
}
.new-block-spawner li[data-first-in-group-title]:before {
    font-size: .6rem;
    margin: .2rem 0 .9rem -.4rem;
    color: #9395b6;
    content: attr(data-first-in-group-title);
    display: inline-block;
    line-height: 0;
    padding: 0 .2rem .2rem .4rem;
    background: #ffffff;
    z-index: 1;
    position: relative;
}
.new-block-spawner li[data-first-in-group-title]:after {
    content: "";
    position: absolute;
    top: .9rem;
    width: 100%;
    height: 1px;
    background: #b2c3be94;
    z-index: 0;
    left: 0;
}
.new-block-spawner .block-tree li[data-group="reusableBranch"] .block-handle {
    padding-right: .8rem;
}
.new-block-spawner .block-tree li[data-group="reusableBranch"] .block-handle:after {
    content: "☆";
    font-size: .5rem;
    opacity: .9;
    position: absolute;
    right: .1rem;
}
.new-block-spawner .block-tree .block-handle {
    cursor: grab;
    filter: grayscale(.9);
}

.new-block-spawner-opened .new-block-spawner > .btn {
    position: absolute;
    z-index: 1;
    left: -15px;
    top: 24px;
}
.new-block-spawner-opened .new-block-spawner > .btn > .icon-tabler {
    transform: rotate(180deg);
}


/* EditApp: Main panel > Global Styles -section */
.global-styles > div {
    padding-bottom: .4rem;
    flex-direction: row-reverse;
}
.global-styles > div > * {
    flex: 1;
    flex-direction: column-reverse;
}
.global-styles > div > .pickr + div {
    display: none;
}
.global-styles .pickr {
    align-self: end;
    margin-left: .26rem;
}
.global-styles .pcr-button {
    height: calc(1.4rem + 2px);
    width: calc(1.4rem + 2px);
    top: 1px;
}
.hidden-helper-picker + .pickr,
.global-styles > .pickr {
    display: none;
}


/* EditApp: Inspector panel */
#inspector-panel [data-main] > .with-icon .icon-tabler {
    color: var(--color-icon-normal-block);
}
#inspector-panel [data-main] > .with-icon.page-info-block .icon-tabler {
    color: var(--color-icon-meta-block);
}
#inspector-panel [data-main] > .with-icon.global-block-tree-block .icon-tabler {
    color: var(--color-icon-global-block);
}


/* EditApp: Block highligh rectangles */
.highlight-rect {
    position: fixed;
    border-radius: 2px;
    z-index: 1;
    pointer-events: none;
}
.highlight-rect:not([data-title=""]) {
    border: 1px solid hsla(var(--components-color-accent), .8);
    box-shadow: 0 0 0px 2px hsla(var(--components-color-accent), .1);
}
.highlight-rect:before {
    content: attr(data-title);
    position: absolute;
    margin: -20px 0 0 -1px;
    background: hsla(var(--components-color-accent), .5);
    padding: 0 .2rem;
    font-size: .6rem;
    border-radius: 2px;
}
.highlight-rect[data-position="top-inside"]:before {
    margin: initial;
}
span.highlight-rect[data-position="bottom-inside"]:before {
    top: 100%;
    margin-top: -18px;
}


/* EditApp: Inspector panel > Listing block filters builder */
.listing-instructions {
    flex-wrap: wrap;
    align-items: center;
}
.listing-instructions > * {
    margin-bottom: .2rem;
    border-radius: var(--small-rect-radius);
    display: flex;
    border: 2px solid transparent;
    min-height: 1.6rem;
    align-items: center;
}
.listing-instructions .poppable {
    border: none;
    width: initial;
    font-size: inherit;
    padding: .1rem .4rem;
    white-space: nowrap;
    color: inherit;
    height: 1.4rem;
    font-weight: 300;
    cursor: pointer;
}
.listing-instructions .poppable,
.listing-instructions .form-select.poppable {
    background-color: transparent;
}
.listing-instructions .popup {
    position: absolute;
    display: inline;
    font-size: .7rem;
    padding: .2rem .6rem;
    margin: 6.7rem 0 0 -1.4rem;
}
.listing-instructions .group-1 {
    background-color: #d8fa696b;
}
.listing-instructions .group-2 {
    background-color: #00a1ff38;
}
.listing-instructions .group-2.perhaps {
    background-color: #00a1ff12;
}
.listing-instructions .group-3 {
    background-color: #c752e124;
}
.listing-instructions .group-4 {
    background-color: #dcbda44a;
}
.listing-instructions .perhaps {
    border: 2px dashed rgba(0,0,0,0.2);
}
.listing-instructions .form-radio .form-input {
    clip: initial;
    height: initial;
    margin: initial;
    overflow: initial;
    position: static;
    width: initial;
}
.listing-instructions .no-round-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.listing-instructions .no-round-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



/* == EditAppViews ========================================================== */
#view {
    display: none;
    position: fixed;
    left: var(--leftPanelWidth);
    top: 0;
    width: calc(100% - var(--leftPanelWidth));
    background-color: #f9fafb;
    height: 100%;
    z-index: 1;
}
#view > .scroller {
    overflow-x: hidden;
    padding: 1.4rem;
    max-width: 760px;
}
#root.view-opened #view {
    display: block;
}
#root.view-opened #site-preview-iframe {
    visibility: hidden;
}

#view h2 {
    margin: 0 0 2rem 0;
    font-size: 1.6rem;
    color: #0c1550;
}
#view > .scroller > .btn:first-child {
    right: 1.4rem;
    top: 1.4rem;
}



/* == Global: Utilies ======================================================= */
.icon-tabler {
    color: currentColor;
    width: 1.2rem;
    height: 1.2rem;
    stroke-width: 1.25;
}
.icon-tabler.size-sm {
    width: 1rem;
    height: 1rem;
}
.icon-tabler.size-xs {
    width: .85rem;
    height: .85rem;
}
.icon-tabler.size-xxs {
    width: .7rem;
    height: .7rem;
}
.color-default { color: var(--color-fg-default); }
.color-dimmed { color: var(--color-fg-dimmed); }
.color-dimmed3 { color: rgba(var(--components-color-fb-default),.6); }
.color-accent { color: var(--color-accent); }
.color-orange { color: var(--color-orange); }
.color-pink { color: var(--color-pink); }
.color-purple { color: var(--color-purple); }
.color-blue { color: var(--color-blue); }
.mt-8 { margin-top: .8rem !important; }
.mb-8 { margin-bottom: .8rem !important; }
.box {
    padding: 1rem;
    background-color: var(--color-bg-default);
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.1);
}
.dashed {
    border: var(--border-dashed-box);
    border-radius: var(--small-rect-radius);
}
.text-tinyish {
    font-size: .65rem !important;
}
.btn.widen.btn-sm {
    padding: .05rem .6rem;
}
.with-icon {
    display: flex;
    align-items: center;
}
.with-icon-inline {
    display: inline-flex;
    align-items: center;
}
.with-icon .icon-tabler {
    margin-right: .4rem;
}
.form-input.tight {
    padding: .1rem .35rem;
    height: 1.4rem;
}
.form-input.code {
    font-family: monospace;
    font-size: 12px;
    line-height: 17px;
    min-height: 114px;
    border-color: var(--color-input-border);
    color: var(--color-fg-code);
}
ul.list {
    list-style: none;
    margin: 0;
}
@keyframes show {
    0% { visibility: hidden; }
    100% { visibility: visible; }
}
.show-after-05 {
    visibility: hidden;
    animation: show 0s .5s forwards;
}
/* https://stackoverflow.com/a/40991531 */
@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}
.dots-animation {
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.dots-animation:after {
    display: inline-block;
    animation: dotty steps(1,end) 1s infinite;
    content: '';
    letter-spacing: 2px;
}
.img-ratio {
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}
.img-ratio img {
    position: absolute;
    max-width: 100%;
}
.mini-toggle {
    margin: -.1rem 0 0 -.4rem;
}
.mini-toggle .form-switch {
    transform: scale(.85);
}
.mini-toggle > .tooltip .icon-tabler {
    width: .8rem;
    height: .8rem;
}
