/* commons.css start */
:root {
    --color-bg-default: rgb(255, 255, 255);
    --color-bg-dimmed: rgb(250, 252, 255);
    --color-bg-dimmed2: rgb(235, 237, 243);
    --color-accent: #1fc79d;
    --color-accent2: #00eeb3;
    --color-accent3: rgb(65,255,209);
    --color-accent4: rgba(118,255,255,.33);
    --color-fg-default: rgb(0,10,71);
    --color-fg-dimmed: rgba(0,10,71,.75);
    --color-fg-dimmed2: #1c125a;
    --color-fg-input: rgb(0,10,71);
    --border-tree-guide: 1px dotted rgba(121, 125, 136, .56);
    --border-dashed-box: 1px dashed rgba(0,0,0,0.2);
    --color-input-border: #e1e4e8;
    --color-blue: #2196f3;
    --color-orange: #ff5722;
    --color-purple: #673ab7;
    --color-pink: #e91e63;
    --color-bg-button: rgb(244, 244, 247);
    --color-bg-button-hover: rgb(236, 236, 239);
}
.color-default { color: var(--color-fg-default); }
.color-dimmed { color: var(--color-fg-dimmed); }
.color-accent { color: var(--color-accent); }
.color-orange { color: var(--color-orange); }
.color-purple { color: var(--color-purple); }
.mt-8 { margin-top: .8rem !important; }
.mb-8 { margin-bottom: 1rem !important; }

/* Spectre-overrides */
.btn {
    background: var(--color-bg-button);
    border-color: var(--color-bg-button);
    color: var(--color-fg-default);
    font-size: .7rem;
    font-weight: 400;
    padding: .25rem .6rem;
    border-radius: 4px;
}
.btn:hover {
    background: var(--color-bg-button-hover);
    border-color: var(--color-bg-button-hover);
    color: var(--color-fg-default);
}
.btn:focus {
    background: rgb(244, 244, 247);
    border-color: var(--color-fg-default);
    box-shadow: none;
    outline: none;
}
.btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #00062e;
    border-color: #00041e;
    color: #fff;
}
.btn.btn-primary:focus {
    box-shadow: 0 0 0 0.1rem rgb(112, 218, 189);
}
.btn.btn-sm {
    font-size: .65rem;
}
.form-input, .form-select {
    border: 1px solid var(--color-input-border);
    border-radius: 4px;
    font-weight: 300;
    font-size: .7rem;
    color: var(--color-fg-input);
}
.form-group > .form-input-hint {
    margin-bottom: -.2rem;
}
.menu .menu-item > a:focus, .menu .menu-item > a:hover {
    background: rgba(129, 134, 165, .15);
}
.menu .menu-item > a.active, .menu .menu-item > a:active {
    background: rgba(129, 134, 165, .15);
}
.text-tiny {
    font-size: .6rem !important;
}
.form-horizontal .form-group {
    margin: .6rem 0;
}
.form-horizontal .form-label {
    padding: .2rem 0;
    color: var(--color-fg-dimmed2);
}
.form-horizontal .form-input {
    padding: .1rem .35rem;
    height: 1.6rem;
}
.form-horizontal .form-group > .col-9 {
    width: calc(75% - .2rem);
    margin-left: auto;
}

/* Commons / Global utilies */
@font-face {
    font-family: "Fira Sans";
    src: url("assets/fira-sans-light.woff2") format("woff2");
    font-weight: 300; /* light */
    font-style: normal;
}
@font-face {
    font-family: "Fira Sans";
    src: url("assets/fira-sans-regular.woff2") format("woff2");
    font-weight: 400; /* normal */
    font-style: normal;
}
@font-face {
    font-family: "Fira Sans";
    src: url("assets/fira-sans-heavy.woff2") format("woff2");
    font-weight: 800; /* heavy / extra-bold */
    font-style: normal;
}
html, body {
    height: 100%;
}
body {
    font: 300 .7rem/.9rem "Fira Sans";
}
h2 {
    font: 800 1.4rem/1.4rem "Fira Sans";
}
.feather {
    width: 1rem;
    height: 1rem;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.feather.size-sm {
    width: .9rem;
    height: .9rem;
}
.feather.size-xs {
    width: .8rem;
    height: .8rem;
}
.box {
    padding: 1rem;
    background-color: var(--color-bg-default);
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.1);
    font-weight: 400;
}
.dashed {
    border: var(--border-dashed-box);
    border-radius: 4px;
}
.btn.widen.btn-sm {
    padding: .05rem .6rem;
}
.with-icon {
    display: flex;
    align-items: center;
}
.with-icon-inline {
    display: inline-flex;
    align-items: center;
}
.with-icon .feather {
    margin-right: .4rem;
}
.form-input.tight {
    padding: .1rem .35rem;
    height: 1.4rem;
}
ul.list {
    list-style: none;
    margin: 0;
}
@keyframes show {
    0% { visibility: hidden; }
    100% { visibility: visible; }
}
.show-after-05 {
    visibility: hidden;
    animation: show 0s .5s forwards;
}
/* https://stackoverflow.com/a/40991531 */
@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}
.dots-animation {
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.dots-animation:after {
    display: inline-block;
    animation: dotty steps(1,end) 1s infinite;
    content: '';
    letter-spacing: 2px;
}
.img-ratio {
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    display: flex;
}
.img-ratio img {
    position: absolute;
}
/* commons.css end */




/* EditApp: commons */
.ql-toolbar.ql-snow {
    border: none;
    padding: .1rem;
    background-color: var(--color-bg-button);
}
.ql-container.ql-snow {
    border: 1px solid var(--color-input-border);
    border-radius: 4px;
}
.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
    padding: .2rem;
    width: 1.2rem;
    height: 1.2rem;
}
.ql-snow .ql-editor {
    color: var(--color-fg-input);
    padding: .4rem;
    font: 300 .7rem/.9rem "Fira Sans";
}
.ql-snow .ql-tooltip {
    z-index: 1;
}
@keyframes adjust-main-panel {
    to {
        height: 70%;
    }
}
@keyframes adjust-inspector-panel {
    to {
        height: 30%;
    }
}
#main-panel,
#inspector-panel {
    position: absolute;
    width: 274px;
    background-color: var(--color-bg-default);
    color: var(--color-fg-default);
    border-right: 1px solid var(--color-bg-dimmed2);
    overflow-y: auto;
    transition: opacity .1s linear;
}
#main-panel {
    height: 100%;
}
#inspector-panel {
    z-index: -1;
}
.inspector-panel-open #main-panel,
.inspector-panel-open #inspector-panel {
    opacity: 1;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.inspector-panel-open #main-panel {
    animation-name: adjust-main-panel;
}
.inspector-panel-open #inspector-panel {
    animation-name: adjust-inspector-panel;
    z-index: initial;
}
#sivujetti-site-iframe {
    position: absolute;
    height: 100%;
    width: calc(100% - 274px);
    border: none;
    transform: translateX(274px);
    height: 100%;
}
#inspector-panel {
    bottom: 0;
    border-top: 1px solid var(--color-bg-dimmed2);
    height: 0;
    opacity: 0;
    padding: .4rem;
}
.resize-panel-handle {
    position: fixed;
    z-index: 1;
    left: 0;
}
#main-panel .resize-panel-handle {
    height: 100%;
    width: 8px;
    top: 0;
    cursor: col-resize;
}
/* Increase width to prevent #sivujetti-site-iframe from disrupting the mouse drag events */
#main-panel .resize-panel-handle.dragging {
    width: 120px;
    margin-left: -60px;
}
#inspector-panel .resize-panel-handle {
    width: 274px;
    height: 8px;
    bottom: 0;
    cursor: row-resize;
}
.floating-dialog {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}
.has-icon-right .form-input {
    padding-right: 1.6rem;
}
.has-icon-right .sivujetti-form-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .2rem .4rem;
}
.has-icon-right button.sivujetti-form-icon {
    background: transparent;
    border: none;
    cursor: pointer;
}



/* EditApp: Components */
ul.popup-menu.menu {
    position: fixed;
    z-index: 2;
}
a.popup-close-area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
@keyframes reveal-anim {
    from { }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-to-left-anim {
    from { }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes fade-to-right-anim {
    from { }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
.anim-outer {
    overflow: hidden;
}
.reveal-from-right,
.reveal-from-left {
    animation: .125s reveal-anim;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
}
.fade-to-left,
.fade-to-right {
    transform: translateX(0px);
    opacity: 1;
}
.reveal-from-right {
    transform: translateX(100%);
}
.fade-to-left {
    animation: .125s fade-to-left-anim;
    animation-fill-mode: forwards;
}
.reveal-from-left {
    transform: translateX(-100%);
}
.fade-to-right {
    animation: .125s fade-to-right-anim;
    animation-fill-mode: forwards;
    position: relative;
}
.item-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: .4rem;
}
.image-grid button, .image-grid img {
    border-radius: 2px;
}
.image-grid > button {
    background-color: var(--color-bg-default);
    padding: 0 0 2rem;
    height: initial;
    position: relative;
}
.image-grid .caption {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: .34rem;
}
.image-selected img {
    min-width: 160px;
    min-height: 160px;
    max-width: 320px;
    max-height: 320px;
}
.image-picker-dialog .image-selected .form-buttons {
    border-bottom: 1px solid #d5dbe0;
    padding-bottom: 1rem;
}
.file-input-outer > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.file-input-outer > label {
    cursor: pointer;
}



/* EditApp: Main panel */
#main-panel > div {
    display: block;
    padding: 0 .4rem;
}
#main-panel header {
    margin: .4rem 0 .3rem 0;
}
#main-panel header a {
    display: inline-block;
    padding: .2rem;
    text-decoration: none;
}
#main-panel header img {
    width: 24px;
    margin: .1rem .2rem .1rem 0;
    filter: contrast(0.8);
}
#main-panel header img + span {
    position: relative;
    line-height: .7rem;
    top: -.12rem;
    font-size: .65rem;
}
#main-panel header img + span > span:last-child {
    opacity: 0.4;
    font-size: .6rem;
}
.panel-section {
    padding: .8rem 0 .4rem .4rem;
}
.panel-section:not(:last-of-type) {
    border-bottom: 1px solid #ebedf3;
}
.panel-section.open:not(:last-of-type) {
    padding-bottom: 1rem;
}
.panel-section h1 {
    font-weight: 800;
    font-size: 1rem;
}
.panel-section > div,
.panel-section > nav {
    display: none;
}
.panel-section.open > div,
.panel-section.open > nav {
    display: initial;
}
.panel-section > button {
    font-size: .75rem;
    font-weight: 300;
    padding: .6rem 0;
    border: none;
    background: transparent;
}
.panel-section.open > button > .feather:last-of-type {
    transition: transform linear .1s;
}
.panel-section.open > button > .feather:last-of-type {
    transform: rotate(90deg);
}
.panel-section > nav a {
    margin: .8rem 0;
    color: var(--color-fg-default);
}

/* EditApp: Main panel > Block tree */
.block-tree {
    margin: 0;
}
.block-tree, .block-tree ul {
    list-style: none;
    margin-top: .2rem;
}
.block-tree ul ul {
    margin: .2rem 0 0 .7rem;
}
.block-tree li {
    margin: 0;
    border-left: var(--border-tree-guide);
}
.block-tree li.collapsed {
    /* : .9rem (line-height) + .4rem (padding * 2) + .2rem (?) + 2px (border  * 2) -> ~1.6rem */
    max-height: 1.6rem;
    overflow: hidden;
}
.block-tree li.dragging {
    display: inline-block;
    opacity: .5;
}
.block-tree li.collapsed ul {
    display: none;
}
.block-tree > li {
    border: 1px solid transparent;
    margin-left: -.4rem;
    border-left: none;
}
.block-tree > li.layout-block {
    background-color: #ff57220d; /* rgba(--color-orange, .05) */
    border-radius: 3px;
}
.block-tree li button {
    background: transparent;
    border: 1px solid transparent;
    color: var(--color-fg-default);
    padding: .2rem;
    margin-left: .4rem;
    position: relative;
    border-radius: 4px;
    font-weight: 300;
}
.block-tree li.maybe-drop-before .block-handle,
.block-tree li.maybe-drop-after .block-handle,
.block-tree li.maybe-drop-as-child .block-handle {
    border-radius: 0;
}
.block-tree li.maybe-drop-before > div > .block-handle {
    border-top-color: var(--color-orange);
}
.block-tree li.maybe-drop-after > div > .block-handle {
    border-bottom-color: var(--color-orange);
}
.block-tree li.maybe-drop-as-child > div > .block-handle {
    border-color: var(--color-orange);
}
.block-tree li > button:hover {
    background: #0000000d;
}
.block-tree li.selected > div > .block-handle {
    background: var(--color-bg-button);
}
.block-tree li.layout-block.selected > div > .block-handle {
    background: #ff57220d /* rgba(--color-orange, .05) */
}
.block-tree li.with-children > div > .block-handle {
    margin-left: 1.5rem;
}
.block-tree .more-toggle {
    opacity: 0;
    transition: opacity .125s ease-out;
}
.block-tree .block-handle:hover + .more-toggle,
.block-tree .block-handle:focus + .more-toggle,
.block-tree .more-toggle:hover,
.block-tree .more-toggle:focus,
.block-tree .more-toggle.opened {
    opacity: 1;
}
.block-tree ul li > .d-flex > .block-handle:before {
    content: "";
    position: absolute;
    border-top: var(--border-tree-guide);
    width: 10px;
    left: -.4rem;
    top: 50%;
}
.block-tree ul > li:last-of-type .block-handle:after {
    content: "";
    position: absolute;
    background-color: var(--color-bg-dimmed);
    width: 1px;
    height: 50%;
    left: -9px;
    bottom: 0;
}
.block-tree li > button > .feather {
    transition: transform linear .1s;
}
.block-tree li.collapsed > button > .feather {
    transform: rotate(-90deg);
}

/* EditApp: Block highligh rectangles */
.highlight-rect {
    position: fixed;
    border: 1px solid #20c79d80; /* rgba(--color-accent, .5) */
    border-radius: 2px;
    box-shadow: 0 0 0px 2px #18e8bb17; /* rgba(--color-accent, .09) */
    z-index: 1;
    pointer-events: none;
}
.highlight-rect:before {
    content: attr(data-title);
    position: absolute;
    margin: -20px 0 0 -1px;
    background: #20c79d80; /* rgba(--color-accent, .5) */
    padding: 0 .2rem;
    font-size: .6rem;
    border-radius: 2px;
}
