/*
Structure:
- Global: Defaults
- EditApp: Defaults
- EditApp: Components
- EditApp: *
- Global: Utilies
*/
:root {
    --color-bg-default: rgb(255, 255, 255);
    --color-bg-dimmed: rgb(250, 252, 255);
    --color-bg-dimmed2: rgb(235, 237, 243);
    --components-color-accent: 165, 82%, 51%;
    --components-color-accent2: 165, 80%, 49%;
    --components-color-purple: 262, 53%, 47%;
    --color-accent: hsl(var(--components-color-accent));
    --color-accent2: hsl(var(--components-color-accent2));
    --color-accent3: rgb(65,255,209);
    --color-accent4: rgba(118,255,255,.33);
    --components-color-fb-default: 0, 10, 71;
    --color-fg-default: rgb(var(--components-color-fb-default));
    --color-fg-dimmed: rgba(var(--components-color-fb-default),.75);
    --color-fg-dimmed2: #1c125a;
    --color-fg-input: var(--color-fg-default);
    --border-tree-guide: 1px dotted rgba(var(--components-color-fb-default),.4);
    --border-dashed-box: 1px dashed rgba(0,0,0,0.2);
    --color-input-border: #e1e4e8;
    --color-blue: #2196f3;
    --color-orange: #ff5722;
    --color-purple: hsl(var(--components-color-purple));
    --color-pink: #e91e63;
    --color-bg-button: rgb(244, 244, 247);
    --color-bg-button-hover: rgb(236, 236, 239);

    --color-icon-normal-block: var(--color-accent2);
    --color-bg-selected-normal-block: hsla(var(--components-color-accent2), .14);

    --color-icon-meta-block: var(--color-purple);
    --color-bg-meta-block: hsla(var(--components-color-purple), .054);
    --color-bg-selected-meta-block: hsla(var(--components-color-purple), .1);

    --color-icon-global-block: #625954;
    --color-bg-global-block: #fdf7f4; /* rgba(--color-orange, ~.04) */
    --color-bg-selected-global-block: #efe5e1; /* rgba(--color-orange, ~.06) */
    --color-drop-indicator: rgba(var(--components-color-fb-default), .32);
}
/* Spectre-overrides */
.btn {
    background: var(--color-bg-button);
    border-color: var(--color-bg-button);
    color: var(--color-fg-default);
    font-size: .7rem;
    font-weight: 400;
    padding: .25rem .6rem;
    border-radius: 4px;
}
.btn:hover {
    background: var(--color-bg-button-hover);
    border-color: var(--color-bg-button-hover);
    color: var(--color-fg-default);
}
.btn:focus {
    background: rgb(244, 244, 247);
    border-color: var(--color-fg-default);
    box-shadow: none;
    outline: none;
}
.btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #00062e;
    border-color: #00041e;
    color: #fff;
}
.btn.btn-primary:focus {
    box-shadow: 0 0 0 0.1rem rgb(112, 218, 189);
}
.btn.btn-sm {
    font-size: .65rem;
}
.form-input, .form-select {
    border: 1px solid var(--color-input-border);
    border-radius: 4px;
    font-weight: 300;
    font-size: .7rem;
    color: var(--color-fg-input);
}
.form-group > .form-input-hint {
    margin-bottom: -.2rem;
}
.menu .menu-item > a:focus, .menu .menu-item > a:hover {
    background: rgba(129, 134, 165, .15);
}
.menu .menu-item > a.active, .menu .menu-item > a:active {
    background: rgba(129, 134, 165, .15);
}
.text-tiny {
    font-size: .6rem !important;
}
.form-horizontal .form-group {
    margin: .6rem 0;
}
.form-horizontal .form-label {
    padding: .2rem 0;
    color: var(--color-fg-dimmed2);
}
.form-horizontal .form-input {
    padding: .1rem .35rem;
    height: 1.6rem;
}
.form-horizontal .form-group > .col-9 {
    width: calc(75% - .2rem);
    margin-left: auto;
}



/* Global: Defaults */
@font-face {
    font-family: "Fira Sans";
    src: url("assets/fira-sans-light.woff2") format("woff2");
    font-weight: 300; /* light */
    font-style: normal;
}
@font-face {
    font-family: "Fira Sans";
    src: url("assets/fira-sans-regular.woff2") format("woff2");
    font-weight: 400; /* normal */
    font-style: normal;
}
@font-face {
    font-family: "Fira Sans";
    src: url("assets/fira-sans-heavy.woff2") format("woff2");
    font-weight: 800; /* heavy / extra-bold */
    font-style: normal;
}
html, body {
    height: 100%;
}
body {
    font: 300 .7rem/.9rem "Fira Sans";
}
h2 {
    font: 800 1.4rem/1.4rem "Fira Sans";
}



/* EditApp: Defaults */
.ql-toolbar.ql-snow {
    border: none;
    padding: .1rem;
    background-color: var(--color-bg-button);
}
.ql-container.ql-snow {
    border: 1px solid var(--color-input-border);
    border-radius: 4px;
}
.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
    padding: .2rem;
    width: 1.2rem;
    height: 1.2rem;
}
.ql-snow .ql-editor {
    color: var(--color-fg-input);
    padding: .4rem;
    font: 300 .7rem/.9rem "Fira Sans";
}
.ql-snow .ql-tooltip {
    z-index: 1;
}
@keyframes adjust-main-panel {
    to {
        height: 70%;
    }
}
@keyframes adjust-inspector-panel {
    to {
        height: 30%;
    }
}
#main-panel,
#inspector-panel {
    position: absolute;
    width: 300px;
    background-color: var(--color-bg-default);
    color: var(--color-fg-default);
    border-right: 1px solid var(--color-bg-dimmed2);
    overflow-y: auto;
    transition: opacity .1s linear;
}
#main-panel {
    height: 100%;
}
#inspector-panel {
    z-index: -1;
}
.inspector-panel-open #main-panel,
.inspector-panel-open #inspector-panel {
    opacity: 1;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.inspector-panel-open #main-panel {
    animation-name: adjust-main-panel;
}
.inspector-panel-open #inspector-panel {
    animation-name: adjust-inspector-panel;
    z-index: 1;
}
#sivujetti-site-iframe {
    position: absolute;
    height: 100%;
    width: calc(100% - 300px);
    border: none;
    transform: translateX(300px);
    height: 100%;
}
#inspector-panel {
    bottom: 0;
    border-top: 1px solid var(--color-bg-dimmed2);
    height: 0;
    opacity: 0;
    padding: .4rem;
}
.resize-panel-handle {
    position: fixed;
    z-index: 1;
    left: 0;
}
#main-panel .resize-panel-handle {
    height: 100%;
    width: 8px;
    top: 0;
    cursor: col-resize;
}
/* Increase width to prevent #sivujetti-site-iframe from disrupting the mouse drag events */
#main-panel .resize-panel-handle.dragging {
    width: 120px;
    margin-left: -60px;
}
#inspector-panel .resize-panel-handle {
    width: 300px;
    height: 8px;
    bottom: 0;
    cursor: row-resize;
}
.floating-dialog {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}
.floating-dialog .box {
    box-shadow: rgba(50,50,93,.25) 0 13px 27px -5px, rgba(0,0,0,.3) 0 8px 16px -8px, rgba(0,0,0,.2) 0 -6px 16px -6px;
}
.has-icon-right .form-input {
    padding-right: 1.6rem;
}
.has-icon-right .sivujetti-form-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .2rem .4rem;
}
.has-icon-right button.sivujetti-form-icon {
    background: transparent;
    border: none;
    cursor: pointer;
}



/* EditApp: Components */
ul.popup-menu.menu {
    position: fixed;
    z-index: 2;
}
a.popup-close-area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
@keyframes reveal-anim {
    from { }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-to-left-anim {
    from { }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes fade-to-right-anim {
    from { }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
.anim-outer {
    overflow: hidden;
}
.reveal-from-right,
.reveal-from-left {
    animation: .125s reveal-anim;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
}
.fade-to-left,
.fade-to-right {
    transform: translateX(0px);
    opacity: 1;
}
.reveal-from-right {
    transform: translateX(100%);
}
.fade-to-left {
    animation: .125s fade-to-left-anim;
    animation-fill-mode: forwards;
}
.reveal-from-left {
    transform: translateX(-100%);
}
.fade-to-right {
    animation: .125s fade-to-right-anim;
    animation-fill-mode: forwards;
    position: relative;
}
.item-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: .4rem;
}
.image-grid button, .image-grid img {
    border-radius: 2px;
}
.image-grid > button {
    background-color: var(--color-bg-default);
    padding: 0 0 2rem;
    height: initial;
    position: relative;
}
.image-grid .caption {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: .34rem;
}
.image-selected img {
    min-width: 160px;
    min-height: 160px;
    max-width: 320px;
    max-height: 320px;
}
.image-picker-dialog .image-selected .form-buttons {
    border-bottom: 1px solid #d5dbe0;
    padding-bottom: 1rem;
}
.file-input-outer > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.file-input-outer > label {
    cursor: pointer;
}



/* EditApp: Main panel */
#main-panel > div {
    display: block;
    padding: 0 .4rem;
}
#main-panel header {
    margin: .4rem 0 .3rem 0;
}
#main-panel header a {
    display: inline-block;
    padding: .2rem;
    text-decoration: none;
}
#main-panel header img {
    width: 24px;
    margin: .1rem .2rem .1rem 0;
    filter: contrast(0.8);
}
#main-panel header img + span {
    position: relative;
    line-height: .7rem;
    top: -.12rem;
    font-size: .65rem;
}
#main-panel header img + span > span:last-child {
    opacity: 0.4;
    font-size: .6rem;
}
.panel-section {
    padding: .8rem 0 .4rem .4rem;
}
.panel-section:not(:last-of-type) {
    border-bottom: 1px solid #ebedf3;
}
.panel-section.open:not(:last-of-type) {
    padding-bottom: 1rem;
}
.panel-section h1 {
    font-weight: 800;
    font-size: 1rem;
}
.panel-section > div,
.panel-section > nav {
    display: none;
}
.panel-section.open > div,
.panel-section.open > nav {
    display: initial;
}
.panel-section > button {
    font-size: .75rem;
    font-weight: 300;
    padding: .6rem 0;
    border: none;
    background: transparent;
}
.panel-section.open > button > .icon-tabler:last-of-type {
    transition: transform linear .1s;
}
.panel-section.open > button > .icon-tabler:last-of-type {
    transform: rotate(90deg);
}
.panel-section > nav a {
    margin: .8rem 0;
    color: var(--color-fg-default);
}



/* EditApp: Main panel > Block tree */
.block-tree, .block-tree ul:not(.dashed ul) {
    list-style: none;
    margin: 0 0 0 .8rem;
}
.block-tree {
    margin: 0;
}
.block-tree ul:not(.dashed ul) {
    margin: 0 0 0 .7rem;
}
.block-tree li.collapsed ul {
    display: none;
}
.block-tree li {
    margin: 0;
}
.block-tree li.dragging {
    opacity: .5;
}
.block-tree li[data-block-type="PageInfo"] {
    background-color: var(--color-bg-meta-block);
}
.block-tree li.globalBlockTree-block {
    background-color: var(--color-bg-global-block);
}

.block-tree li .block-handle .icon-tabler {
    color: var(--color-icon-normal-block);
}
.block-tree li[data-block-type="PageInfo"] .block-handle .icon-tabler {
    color: var(--color-icon-meta-block);
}
.block-tree li.globalBlockTree-block .block-handle .icon-tabler {
    color: var(--color-icon-global-block);
    border-radius: 3px;
}

.block-tree button {
    background: transparent;
    border: 1px solid transparent;
    font-weight: 300;
}
.block-tree .toggle {
    padding: .24rem 0 0 .24rem;
    cursor: pointer;
    z-index: 1;
}
.block-tree .block-handle {
    margin-left: 0;
    padding: .24rem .24rem .24rem .44rem;
}
.block-tree li.maybe-drop-before > .d-flex > .block-handle {
    border-top-color:  var(--color-drop-indicator);
}
.block-tree li.maybe-drop-as-child > .d-flex > .block-handle {
    border-color:  var(--color-drop-indicator);
}
.block-tree li.maybe-drop-after > .d-flex > .block-handle {
    border-bottom-color:  var(--color-drop-indicator);
}
.block-tree .block-handle:before {
    content: "";
    border-top: var(--border-tree-guide);
    width: .3rem;
    position: absolute;
    top: 50%;
    left: 1px;
}
.block-tree > li > .d-flex .block-handle:before,
.block-tree li.collapsed .block-handle:before,
.block-tree ul > li.with-children:not(.collapsed) + li.with-children:not(.collapsed) > .d-flex .block-handle:before {
    content: initial;
}
.block-tree li.with-children > .d-flex > .block-handle:before {
    left: -1rem;
    width: .2rem
}

.block-tree li > .d-flex {
    position: relative;
    z-index: 0;
}
.block-tree li.selected > .d-flex {
    background: var(--color-bg-selected-normal-block);
}
.block-tree li.globalBlockTree-block.selected > .d-flex {
    background: var(--color-bg-selected-global-block);
}
.block-tree li[data-block-type="PageInfo"].selected > .d-flex {
    background: var(--color-bg-selected-meta-block);
}

.block-tree .more-toggle {
    opacity: 0;
    transition: opacity .125s ease-out;
    top: 2px;
    position: relative;
    left: -.2rem;
}
.block-tree .block-handle:hover + .more-toggle,
.block-tree .block-handle:focus + .more-toggle,
.block-tree .more-toggle:hover,
.block-tree .more-toggle:focus,
.block-tree .more-toggle.opened {
    opacity: 1;
}
.block-tree li.with-children > .d-flex > button {
    position: relative;
    left: 1rem;
    z-index: 1;
}
.block-tree li.with-children > .d-flex > .more-toggle {
    left: .8rem;
}

.block-tree ul > li.with-children:not(.collapsed):not(:last-child) > .d-flex {
    border-left: none;
}
.block-tree ul > li.with-children:not(.collapsed) + li.with-children:not(.collapsed) > .d-flex:before {
    content: initial;
}
li.with-children > ul > li > .d-flex {
    border-left: var(--border-tree-guide);
}
li.with-children > ul > li:last-of-type > .d-flex {
    border-color: transparent;
}
.block-tree ul > li.with-children:not(.collapsed):not(:last-child) > .d-flex:before,
li.with-children > ul > li:last-of-type > .d-flex:before {
    content: "";
    border-left: var(--border-tree-guide);
    height: 50%;
    width: 1px;
    position: absolute;
    margin-left: -1px;
}
.block-tree ul > li.with-children:not(.collapsed):not(:last-child) > .d-flex:before {
    margin-left: 0;
}

/* EditApp: Inspector panel */
#inspector-panel [data-main] > .with-icon .icon-tabler {
    color: var(--color-icon-normal-block);
}
#inspector-panel [data-main] > .with-icon.page-info-block .icon-tabler {
    color: var(--color-icon-meta-block);
}
#inspector-panel [data-main] > .with-icon.global-block-tree-block .icon-tabler {
    color: var(--color-icon-global-block);
}

/* EditApp: Block highligh rectangles */
.highlight-rect {
    position: fixed;
    border-radius: 2px;
    z-index: 1;
    pointer-events: none;
}
.highlight-rect:not([data-title=""]) {
    border: 1px solid hsla(var(--components-color-accent), .8);
    box-shadow: 0 0 0px 2px hsla(var(--components-color-accent), .1);
}
.highlight-rect:before {
    content: attr(data-title);
    position: absolute;
    margin: -20px 0 0 -1px;
    background: hsla(var(--components-color-accent), .5);
    padding: 0 .2rem;
    font-size: .6rem;
    border-radius: 2px;
}

/* EditApp: link click timer indicators. https://fromanegg.com/post/2013/01/23/100-pure-css-radial-progress-bar/ */
.local-link-click-timer {
    --fullSize: 20px;
    --halfSize: 10px;
    --borderWidth: 2px;
    --fullDuration: .2s;
    --halfDuration: .15s;
    position: fixed;
    z-index: 1;
}
.wrapper {
    box-sizing: initial;
    display: block;
    width: var(--fullSize);
    height: var(--fullSize);
    position: absolute; /* Enable clipping */
    clip: rect(0px, var(--fullSize), var(--fullSize), var(--halfSize)); /* Hide half of the progress bar */
}
/* Set the sizes of the elements that make up the progress bar */
.circle {
    display: block;
    width: 16px; /* --fullSize - --borderWidth * 2 */
    height: 16px;
    border: var(--borderWidth) solid var(--color-accent);
    border-radius: var(--halfSize);
    position: absolute;
    clip: rect(0px, var(--halfSize), var(--fullSize), 0px);
}
/* Using the data attributes for the animation selectors. */
/* Base settings for all animated elements */
span[data-anim~=base] {
    animation-iteration-count: 1;  /* Only run once */
    animation-fill-mode: forwards; /* Hold the last keyframe */
    animation-timing-function:linear; /* Linear animation */
}
.wrapper[data-anim~=wrapper] {
    animation-duration: 0.01s; /* Complete keyframes asap */
    animation-delay: var(--halfDuration);
    animation-name: close-wrapper; /* Keyframes name */
}
.circle[data-anim~=left] {
    animation-duration: var(--fullDuration);
    animation-name: left-spin;
}
.circle[data-anim~=right] {
    animation-duration: var(--halfDuration);
    animation-name: right-spin;
}
/* Rotate the right side of the progress bar from 0 to 180 degrees */
@keyframes right-spin {
    from { transform: rotate(45deg); }
    to { transform: rotate(180deg); }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@keyframes left-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/* Set the wrapper clip to auto, effectively removing the clip */
@keyframes close-wrapper {
    to { clip: rect(auto, auto, auto, auto); }
}


/* Global: Utilies */
.icon-tabler {
    color: currentColor;
    width: 1.2rem;
    height: 1.2rem;
    stroke-width: 1.25;
}
.icon-tabler.size-sm {
    width: 1rem;
    height: 1rem;
}
.icon-tabler.size-xs {
    width: .85rem;
    height: .85rem;
}
.color-default { color: var(--color-fg-default); }
.color-dimmed { color: var(--color-fg-dimmed); }
.color-accent { color: var(--color-accent); }
.color-orange { color: var(--color-orange); }
.color-purple { color: var(--color-purple); }
.color-blue { color: var(--color-blue); }
.mt-8 { margin-top: .8rem !important; }
.mb-8 { margin-bottom: 1rem !important; }
.box {
    padding: 1rem;
    background-color: var(--color-bg-default);
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.1);
}
.dashed {
    border: var(--border-dashed-box);
    border-radius: 4px;
}
.text-tinyish {
    font-size: .65rem !important;
}
.btn.widen.btn-sm {
    padding: .05rem .6rem;
}
.with-icon {
    display: flex;
    align-items: center;
}
.with-icon-inline {
    display: inline-flex;
    align-items: center;
}
.with-icon .icon-tabler {
    margin-right: .4rem;
}
.form-input.tight {
    padding: .1rem .35rem;
    height: 1.4rem;
}
ul.list {
    list-style: none;
    margin: 0;
}
@keyframes show {
    0% { visibility: hidden; }
    100% { visibility: visible; }
}
.show-after-05 {
    visibility: hidden;
    animation: show 0s .5s forwards;
}
/* https://stackoverflow.com/a/40991531 */
@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}
.dots-animation {
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.dots-animation:after {
    display: inline-block;
    animation: dotty steps(1,end) 1s infinite;
    content: '';
    letter-spacing: 2px;
}
.img-ratio {
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    display: flex;
}
.img-ratio img {
    position: absolute;
}
.mini-toggle {
    margin: -.1rem 0 -.6rem -.4rem;
}
.mini-toggle .form-switch {
    transform: scale(.85);
}
.mini-toggle > .tooltip .icon-tabler {
    width: .8rem;
    height: .8rem;
}
