/* @todo */
#block-tree-panel {
    position: absolute;
    width: 142px;
    height: 100%;
}
#view {
    display: none;
    position: fixed;
    left: 142px;
    top: 0;
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;
    z-index: 1;
}
#view.open {
    display: block;
}
#kuura-site-iframe {
    position: absolute;
    width: calc(100% - 142px - 172px);
    height: 100%;
    border: none;
    left: 142px;
}
#inpector-panel {
    position: absolute;
    width: 172px;
    height: 100%;
    right: 0;
}


#cpanel {
    padding: 0 .4rem;
}
#cpanel .section {
    background-color: rgba(255,255,255,0.07);
    padding: .4rem;
    color: #fff;
    margin-bottom: .4rem;
    border-radius: .4rem;
}
#cpanel .section.dashed {
    border: 2px dashed rgba(255,255,255,.1);
}


.block-tree, .block-tree ul {
    list-style: none;
    border-left: 1px dotted;
}
.block button {
    padding: 0;
    height: 1.3rem;
    border: none;
    background-color: transparent;
}
.block-tree li:not(.selected) > button:hover {
    background-color: rgba(0,0,0,0.05);
}
.block-tree li.selected > button {
    background-color: #82d1ff;
}

.block > .btn > span {
    display: block;
    font-size: .6rem;
    margin: -.43rem 0 0 0;
}


.edit-box {
    position: absolute;
    z-index: 1;
}
.edit-box__inner {
    position: absolute;
    bottom: .4rem;
    background-color: #fff;
    padding: .4rem;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 10%);
    border: 1px solid #0000001f;
    border-radius: 3px;
}
.edit-box__inner:before,
.edit-box__inner:after {
    content: "";
    position: absolute;
    right: 50%;
    bottom: -7px;
}
.edit-box__inner:before {
    border-right: 8px solid transparent;
    border-top: 8px solid #0000009c;
    border-left: 8px solid transparent;
    margin-right: -8px;
    z-index: -1;
}
.edit-box__inner:after {
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
    margin-right: -7px;
}
.edit-box__inner.below {
    bottom: initial;
}
.edit-box__inner.below:before,
.edit-box__inner.below:after {
    border-top: none;
    bottom: initial;
    top: -7px;
}
.edit-box__inner.below:before {
    border-bottom: 8px solid #0000009c;
}
.edit-box__inner.below:after {
    border-bottom: 7px solid #fff;
}
.edit-box h2 {
    font: normal .8rem/.8rem -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    background-color: rgba(0,0,0,0.1);
    padding: .2rem .3rem;
    border-radius: 2px;
}




.cog {
    position: absolute;
    z-index: 2;
}


