/* commons.css start */
:root {
    --color-bg-default: rgb(255, 255, 255);
    --color-bg-dimmed: rgb(250, 252, 255);
    --color-bg-dimmed2: rgb(235, 237, 243);
    --color-accent: #909daf;
    --color-accent2: #8fdec4;
    --color-fg-default: rgb(48, 52, 65);
    --color-fg-dimmed: rgb(150, 155, 173);
    --border-tree-guide: 1px dotted rgba(121, 125, 136, .56);
    --border-dashed-box: 1px dashed rgba(0,0,0,0.2);
}
.color-accent {
    color: var(--color-accent);
}

/* Spectre-overrides */
.btn {
    font-size: .7rem;
    padding: .25rem .6rem;
}
.form-input, .form-select {
    font-size: .7rem;
}
.form-group > .form-input-hint {
    margin-bottom: -.2rem;
}

/* Commons / Global utilies */
@font-face {
    font-family: "Fira Sans";
    src: url("assets/fira-sans-light.woff2") format("woff2");
    font-weight: 300; /* light */
    font-style: normal;
}
@font-face {
    font-family: "Fira Sans";
    src: url("assets/fira-sans-heavy.woff2") format("woff2");
    font-weight: 800; /* heavy / extra-bold */
    font-style: normal;
}
html, body {
    height: 100%;
}
body {
    font: 300 .7rem/.9rem "Fira Sans";
}
h2 {
    font: 800 1.4rem/1.4rem "Fira Sans";
}
.feather {
    width: 1rem;
    height: 1rem;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.feather.size-sm {
    width: .9rem;
    height: .9rem;
}
.feather.size-xs {
    width: .8rem;
    height: .8rem;
}
.box {
    padding: 1rem;
    background-color: var(--color-bg-default);
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.1);
}
.dashed {
    border: var(--border-dashed-box);
    border-radius: 6px;
}
.btn.widen.btn-sm {
    padding: .05rem .6rem;
}
.with-icon {
    display: flex;
    align-items: center;
}
.with-icon .feather {
    margin-right: .4rem;
}
.form-input.tight {
    padding: .1rem .35rem;
    height: 1.4rem;
}
/* commons.css end */




/* EditApp: commons */
@keyframes adjust-panels {
    from {
    }
    to {
        height: 50%;
    }
}
.one-column-layout #main-panel,
.one-column-layout #inpector-panel {
    position: absolute;
    width: 242px;
    background-color: var(--color-bg-dimmed);
    color: var(--color-fg-default);
    overflow-y: auto;
    transition: min-height .2s linear, max-height .2s linear, opacity .1s linear;
}
.one-column-layout #main-panel {
    height: 100%;
    border-right: 1px solid var(--color-bg-dimmed2);
}
.one-column-layout.inspector-panel-open #main-panel,
.one-column-layout.inspector-panel-open #inpector-panel {
    opacity: 1;
    animation: .2s adjust-panels;
    animation-fill-mode: forwards;
}
.one-column-layout #kuura-site-iframe {
    position: absolute;
    height: 100%;
    width: calc(100% - 242px);
    border: none;
    left: 242px;
    height: 100%;
}
.one-column-layout #inpector-panel {
    bottom: 0;
    border-top: 1px solid rgba(255,255,255,.05);
    height: 0;
    opacity: 0;
}

/* todo
.two-columns-layout #main-panel,
.two-columns-layout #kuura-site-iframe,
.two-columns-layout #inpector-panel {
    position: absolute;
    height: 100%;
}
.two-columns-layout #main-panel {
    width: 142px;
    background-color: var(--color-bg-default);
    color: var(--color-fg-default);
}
.two-columns-layout #kuura-site-iframe {
    width: calc(100% - 142px - 172px);
    border: none;
    left: 142px;
}
.two-columns-layout #inpector-panel {
    width: 172px;
    right: 0;
}*/

/* EditApp: Components */
ul.popup-menu.menu {
    position: fixed;
    z-index: 2;
}
a.popup-close-area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* EditApp: Main panel */
#main-panel header {
    margin: .4rem 0 -.7rem 0;
}
#main-panel header a {
    display: inline-block;
    padding: .2rem;
    text-decoration: none;
}
#main-panel header img {
    width: 29px;
    filter: invert(1)
}
#main-panel header img + span {
    position: relative;
    line-height: .7rem;
    top: -.12rem;
    font-size: .65rem;
}
#main-panel header img + span > span:last-child {
    opacity: 0.4;
    font-size: .6rem;
}

#main-panel .panel-section {
    padding: 1px .4rem;
    border-left: 3px solid var(--color-accent2);
    margin: 1rem 0;
}
#main-panel .panel-section h2 {
    color: var(--color-fg-dimmed);
    font-size: .6rem;
    font-weight: 300;
    margin: .4rem .5rem .4rem 0;
    text-transform: uppercase;
    letter-spacing: .08rem;
}

/* EditApp: Main panel > Block tree */
.block-tree {
    margin: 0;
}
.block-tree, .block-tree ul {
    list-style: none;
    margin-top: .2rem;
}
.block-tree ul.collapsed {
    max-height: 1.2rem;
    overflow: hidden;
}
.block-tree ul ul {
    margin: .2rem 0 0 .7rem;
}
.block-tree li {
    margin: 0;
    border-left: var(--border-tree-guide);
}
.block-tree > li {
    margin-left: -.4rem;
    border-left: none;
}
.block-tree li > button,
.block-tree li > .d-flex > button {
    background: transparent;
    border: none;
    color: var(--color-fg-default);
    padding: .2rem;
    margin-left: .4rem;
    position: relative;
    border-radius: 6px;
}
.block-tree li > button:hover {
    background: #0000000d;
}
.block-tree li.selected > .drag-handle {
    background: #00000013;
}
.block-tree li.with-children > .d-flex .drag-handle {
    margin-left: 1.5rem;
}
.block-tree .more-toggle {
    opacity: 0;
    transition: opacity .125s ease-out;
}
.block-tree .drag-handle:hover + .more-toggle,
.block-tree .more-toggle:hover,
.block-tree .more-toggle.opened {
    opacity: 1;
}
.block-tree ul li > .d-flex > .drag-handle:before {
    content: "";
    position: absolute;
    border-top: var(--border-tree-guide);
    width: 10px;
    left: -.4rem;
    top: 50%;
}
.block-tree ul > li:last-of-type .drag-handle:after {
    content: "";
    position: absolute;
    background-color: var(--color-bg-dimmed);
    width: 1px;
    height: 50%;
    left: -9px;
    bottom: 0;
}
